<!DOCTYPE html>
<html>
  <head>
    <title>Hotwire Examples</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script async src="https://cdn.splitbee.io/sb.js"></script>
  </head>
  <body>
    <%= render "layouts/header" %>
    <main class="container max-w-5xl px-5 mx-auto mt-12">
      <%= yield %>
    </main>
  </body>
</html>
